#heading {
	background-color: orange;
	padding: 5px;
	margin-top: 10px;
	margin-left: 25%;
	margin-right: 25%;
	overflow: auto;
	text-align: center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20pt;

}


#doorShape {
	width: 200px;
	height: 400px;
	background: brown;
	text-align: center;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	position: relative;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: white;
}


#doorShapeGoat {
	width: 200px;
	height: 400px;
	background: black;
	text-align: center;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 2px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: white;
}


#doorknob {
	width: 20px;
	height: 20px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: right;
	margin-right: 20px;

}

#doorBox {
	border: 4px blue solid;
	background-color: gray;
	padding-left:75px;
	padding-right:75px;
	padding-top: 10px;
	padding-bottom: 50px;
	margin-top: 10px;
	margin-left: %;
	margin-right: %;
	overflow: auto;
	text-align: center;
	border-radius: 10px;

	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24pt;
}

#questionMark {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 48pt;
	color: white;
	width: 100px;
	height: 100px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	margin-left: 26%;

}

#description {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: black;

}

#goat {
	width: 100px;
	height: 150px;
}

a {
	display:block;
	width: 200px;
	height: 400px;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	position:absolute;
}

a:hover {
	background-color: white;
	opacity: .2;
}


